 div{
	color: #f0f0f0;
	background-color: black;
	
	/*Margine uguale sui 4 lati*/
	/*margin: 10px;*/
	margin: 10px 200px 85px;
	margin: 10px 20px 85px 75px;
	margin-left: 100px;
}
p{
	/*border-top: 3px solid;
	border-right: 10px dashed;
	border-bottom: 5px dotted;
	border-left: 8px inset;*/
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: red;
}