body {
  margin: 0;
}
.content {
  /* max-width: 600px; */
  margin: 0 auto;
}


.highlight {
  background-color: #00ff2f2c;
}

article {
  border-radius: 6px;
  border: 1px solid #a0a0a0;
  box-shadow: 1px 1px 1px #5f5f5f;
  padding: 1.25rem;
  /* max-width: 100rem; */
  max-width: 300px;
}

.title-mono {
  font-family: "Courier New", Courier, monospace;
}
.title-sans {
  font-family: Calibri, sans-serif;
}

.text-center {
  text-align: center;
}

.undeline {
  text-decoration: underline;
}

.bolder {
  font-weight: bolder;
}

.colored {
  background-color: green;
  color: white;
}


.flex, .flex-center {
  background-color: #f6c9052c;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: flex-start; */
}